@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@tailwind components;


.fi-sidebar-nav {
    -ms-overflow-style: none;  
    scrollbar-width: none;     
}

.fi-sidebar-nav::-webkit-scrollbar {
    display: none;            
}

@media (max-width: 1023px) {
    .fi-sidebar {
        width: fit-content !important;
        min-width: 16rem;
        max-width: calc(100vw - 1rem);
        transition: 0.5s ease;
    }
}

/* Reduce padding on chart widgets so doughnuts fit without overlapping */
.fi-wi-chart .fi-section-content {
    padding: 5px !important;
}
