@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
    /* make the sidebar a little narrower than the Filament default */
    .fi-sidebar {
        /* default is around 16rem; we trim it down to 14rem to make it "gamyang" smaller */
        width: 15rem !important;
    }


    /* Hide scrollbar for the sidebar navigation specifically */
.fi-sidebar-nav {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.fi-sidebar-nav::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, and Opera */
}
}